<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/login.js"></script>
    <script src="/navBar.js"></script>
</head>
<body>
<h3>Sorry! This store does not exist.</h3>
<h4>It looks like you may have tried to find a store that doesn't exit. </h4>
<h4>Search functionality is case sensitive.</h4>
</body>
</html>