<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/newShopForm.js"></script>
    <script src="/navBar.js"></script>
</head>
<body>

    <h1>Create a Shop</h1>
    <p>shop name: <input id="name" type="text"/></p>
    <p>shop category: <input id="category" type="text"/></p>
    <p>shop tag: <input id="tag" type="text"/></p>
    <p><button id="submit_new_shop">Create</button></p>

</body>
</html>