<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shops</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/shops.js"></script>
        <script src="/navBar.js"></script>
    </head>
    <body>
        <form method="GET" id="searchForm">
            <label for="shopName">Search for a shop by name, author, category, or tags </label><input id="shopName" type="text">
            <input type="submit" class="btn btn-submit" value="Search"/>

        </form>
        <div id="shopsList"></div>
    </body>
</html>