<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/shoppingcart.js"></script>
    <script src="/navBar.js"></script>
</head>
<body>

<div id="cartInfo">
<h1>Your cart:</h1>
    <div id="cartItems">
    </div>

<h1>Checkout</h1>
<p>name on credit card: <input id="ccName" type="text"/></p>
<p>credit card number: <input id="ccNumber" type="text"/></p>
<p><button id="buyButton">Checkout</button></p>
<p id="errorText" style="color:red"></p>
</div>

</body>
</html>